# PostgreSQL
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
# MongoDB
MONGO_DB=
MONGO_HOST=
MONGO_PORT=
# Redis (Docker-managed)
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
# WebSocket & Auth
WEBSOCKET_PORT=
FASTAPI_PORT=
NGROK_AUTH_TOKEN=
SECRET_KEY=
# GITHUB
GITHUB_TOKEN=
VITE_GITHUB_GIST_ID=
VITE_GITHUB_FETCH_URL_ROOT=
VITE_GITHUB_GIST_FILENAME=